body {
    margin: 0;
}

/*----Header----*/
header {
    background-color: rgb(68, 112, 81);
    text-align: center;
}

h1 {
    color: whitesmoke;
}

/*----Nav-------*/
nav {
    background-color: rgb(88, 141, 104);
    text-align: center;
}
ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.5em;
}
/*--------------*/
/*--------------*/

.hero {
    height: 50vh;
    background-image: url("https://pa1.narvii.com/6502/f8835f952d490427c35f790a92c327d198e09ecb_hq.gif");
    background-size: 100%;
    background-position-y: 50%;
    filter: blur(2px);
}

/*----Article---*/
article {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
}

article p {
    font-size: 1.5em;
    text-align: justify;
}

article img {
    border-radius: 3%;
}

article h2 {
    text-align: center;
    margin-top: 0;
    font-size: 2em;
}

/*----First-Section---*/

.first_sec {
    margin-bottom: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    background-color: whitesmoke;
    display: inline-block;
    text-align: center;
    
}

.first_sec h2 {
    margin-bottom: -10px;
    font-size: 2em;
}

.first_sec img {
    margin: 10px;
    display: inline-block;
    height: 250px;
    float: left;
}

.first_sec td {
    border-bottom: 2px solid #000;
}

.first_sec table {
    margin: 10px;
    height: 250px;
    float: right;
}
.first_column {
    background-color: seagreen;
}

/*----Second-Section---*/

.second_sec {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    padding-top: 0px;
    background-color: whitesmoke;
    display: inline-block;
    text-align: center;
    width: 70%;
}

.second_sec img {
    display: inline-block;
    height: 250px;
}


/*----Third-Section---*/

.third_sec {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    padding-top: 0px;
    background-color: whitesmoke;
    display: inline-block;
    text-align: center;
    width: 20%;
    position: relative;
}
